

<footer>
    
    <div class="links">
        <li>
            <a href="/">Home</a>

        </li>
        <% if(locals.user){%>
            <a href="/users/profile/<%=u.id%>">
                <%=user.name%>
            </a>
        <%}%>
        
        
    </div>
   
</footer>