body{
    overflow-x: hidden;
}

#layout-header{
    width:100%;
    position:sticky;
    top:0;
    z-index:10;
    
    nav{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        background: #2196f3;
        color: white;
        height:30px;
        box-shadow: 1px 1px 1px 1px lightgrey;

        .mini-logo{
            p{
                margin: 5px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        .auth-links{
            i{
                display:none;
            }
            ul{ list-style:none;
                margin: 8% 5px;
                display: flex;

                li{
                    margin-right: 10px;

                    a{
                        
                        font-size:1.2rem;
                        font-weight:bold;
                    }
                }
            }
        }

        
        a{
            color: snow;
            text-decoration: none;
        }

    }
}

@media screen and (max-width: 576px) {
        #layout-header{
            width:100%;
            position:sticky;
            top:0;
            z-index:10;
            nav{
                height:90px;
                background: #2196f3;
                margin:0;
                padding:0;
                
                .mini-logo{
                    line-height:70px;
                    p{
                        font-size:2.5rem;
                    }
                }
                .auth-links{
                    line-height:30px;

                    i{
                        display:block;
                        position:fixed;
                        right:30px;
                        top:40px;
                        font-size:1.5rem;
                    }
                   ul {
                       
                      
                       transition:all;
                            li
                            {
                                margin:0;
                                padding:0;
                                border:2px solid grey;
                                background-color:snow;
                                padding:0 5px;

                                a{
                                    font-size:1.1rem;
                                    color:black;
                                }
                            }

                   }
                   ul{
                       display:none;
                   }

                    

                }
                .auth-links:hover ul{
                       display:flex;
                       flex-direction:column;
                       align-content:space-around;
                       transform:translate(-40px,40px);
                       
                   }


            }
            
            
        }
} 